body {
  font-family: 'Courier New', Courier, monospace;
}

.leaderboard_heading {
  padding-left: 2%;
  background: rgb(255, 121, 73);
  color: #fff;
}

.main_tag {
  display: flex;
  justify-content: space-around;
}

.recent_scores_head {
  font-weight: bold;
  font-size: 150%;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 7%;
  margin-bottom: 7%;
  border: black 1px solid;
  padding: 7%;
  font-size: 120%;
}

.add_head {
  font-size: 150%;
}

.refresh_button {
  margin-left: 2%;
}

button {
  background: rgb(255, 121, 73);
  color: #fff;
  font-weight: bold;
  font-size: 103%;
  box-shadow: 2px 2px 2px;
}

.button_p {
  text-align: right;
}

#submit_button {
  width: 50%;
}

button:hover {
  cursor: pointer;
}

.leaderboard_ul {
  list-style-type: none;
  padding: 0;
  border: solid black 0.1px;
}

.gray {
  background: rgb(255, 121, 73);
  padding: 1%;
  color: #fff;
}

.whiteSmoke {
  background: #fff;
  padding: 1%;
}

.score_item p {
  font-weight: bold;
  font-size: 105%;
}

@media (max-width: 768px) and (max-width: 1100px) {
  .main_tag {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leaderboard_heading {
    text-align: center;
    background: rgb(255, 121, 73);
    color: #fff;
  }
}

@media (min-width: 481px) and (min-width: 768px) {
  .score_container {
    margin-left: 10%;
  }

  .form_container {
    margin-right: 10%;
  }
}
